.main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(desktop.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    box-shadow: 3px 3px  10px black;

}
.form{
    box-shadow: 8px 8px 8px black;
    display: flex;
    flex-direction: column;
    align-self: justify-between;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    margin-left: 150px;
    border: 2px solid gray;
   
    background-position: center;

}


.button{
    width: 34%;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(44, 129, 240);
}
.button a{
    color: white;
}
.button:hover{
 background-color: rgb(6, 86, 139);
}

@media only screen and (max-width:500px){

 .form{
 margin: 0;
 width: 90%;
 } 

.form input{
    width: 70%;
}
} 